# =========================
# Outputs gerados (não versionar)
# =========================
optimization/data/resultados/
optimization/data/rotas_otimizadas.csv
optimization/data/resumo_resultados.csv

rag-backend/data/*.csv
rag-backend/app/static/*.html

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.vite/
